body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #00ffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
